* {
  list-style: none;
}

.mainContainer {
  width: 500px;
  height: 400px;
  /* border: 2px solid lightgray; */
  border-radius: 30px;
  margin: 30px auto;
  display: flex;
  box-shadow: 3px 3px 20px gray;
  
}

.taskContainer {
  /* border: 1px solid black; */
  flex-grow: 1;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.taskList::-webkit-scrollbar-track {border-radius: 40px;}
.taskList::-webkit-scrollbar {width: 6px}
.taskList::-webkit-scrollbar-thumb {border-radius: 3px;background: #f0f2f5;}
.taskList:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}



.seButton {
  display: flex;
  align-items: center;
  margin: 10px; 
}


.search {
  padding-left: 20px;
  outline: 0;
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 290px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.taskList {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 5px 15px;
  
}

.delTask {
  margin: 5px 0 0 0;
  height: 22px;
  width: 26px;
  cursor: pointer;
}

.checkbox {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mainLi {
  display: flex;
}
.completed {
  text-decoration: line-through;
  color: green;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.buttonPush {
  border-radius: 30px;
  width: 25px;
  height: 25px;
  border: 0;
  background-color: rgb(241, 107, 107);
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: 0;

}
.buttonPush:hover {
  background-color: rgb(194, 77, 77);
  transition: all 0.5s;
}
.simpleLi  {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.editTask {
  cursor: pointer;
  margin: 5px 0 0 5px;
  height: 22px;
  width: 26px;
}
.editTaskInp {
  align-self: center;
}