* {
  list-style: none;
}

.mainContainer {
  width: 500px;
  height: 400px;
  /* border: 2px solid lightgray; */
  border-radius: 30px;
  margin: 30px auto;
  display: flex;
  box-shadow: 3px 3px 20px gray;
  
}

.taskContainer {
  /* border: 1px solid black; */
  flex-grow: 1;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.taskList::-webkit-scrollbar-track {border-radius: 40px;}
.taskList::-webkit-scrollbar {width: 6px}
.taskList::-webkit-scrollbar-thumb {border-radius: 3px;background: #f0f2f5;}
.taskList:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}



.seButton {
  display: flex;
  align-items: center;
  margin: 10px; 
}


.search {
  
  padding-left: 20px;
  outline: 0;
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 290px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.taskList {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 5px 15px;
  
}

.delTask {
  height: 22px;
  width: 26px;
  cursor: pointer;
  height: 30px;
  width: 30px;
font-size: 22px;
background-color: transparent;
border: 0;
  
  
}
.delTask {
  background-color: transparent;
  padding: 2px 0 0 2px ;
 font-size: 22px;
 outline: 0;
}
.delTask:hover {
  background-color: rgba(226, 222, 222, 0.486);
  /* box-shadow: 3px 3px 15px rgba(165, 165, 165, 0.486);  */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all ease-out 0.2s;
}

.checkbox {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mainLi {
  display: flex;
  align-items: center;
  height: 50px;
  
}
.mainLi:hover {
  box-shadow: 0px 7px 15px -12px #000000;
}
.completed {
  text-decoration: line-through;
  color: green;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.buttonPush {
  border-radius: 30px;
  width: 25px;
  height: 25px;
  border: 0;
  background-color: rgb(241, 107, 107);
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: 0;

}
.buttonPush:hover {
  background-color: rgb(194, 77, 77);
  transition: all 0.5s;
}
.simpleLi  {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.editTask {
  cursor: pointer;
  margin: 0 15px 0 0 ;
  height: 30px;
  width: 30px;
font-size: 22px;
background-color: transparent;
border: 0;
padding: 2px 0 0 0 ;
outline: 0;
}
.editTask:hover {
  background-color: rgba(226, 222, 222, 0.486);
  /* box-shadow: 3px 3px 15px rgba(165, 165, 165, 0.486);  */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all ease-out 0.2s;
}
.editTaskInp {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: 0;
  
}
.forInput {
  flex-grow: 1;
  align-self: center;
}